.cta {
  margin-top: 32px;
  width: 100%;
}

.ctaLink {
  display: block;
  width: 100%;
}

@media (min-width: 769px) {
  .cta {
    width: auto;
  }

  .ctaLink {
    width: auto;
    display: inline-block;
  }
}
