.optionsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.optionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 769px) {
  .optionsList {
    display: grid;
    grid-template-columns: repeat(2, 405px);
    justify-content: center;
    column-gap: 0;
    row-gap: 12px;
  }

  .optionWrapper {
    width: 405px;
    justify-content: center;
  }
}
